*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}
body{
    background: rgb(17, 36, 59);
}
#Form{
    width: 500px;
    margin: 20vh auto 0 auto;
    background:#fff;
    padding: 20px;
    border-radius: 5px;
    font-size: 15px;
}
 h1{
border-bottom: 1px solid black;
margin-bottom: 20px;
padding-bottom: 10px;
text-align: center;
}
.form-control{
    display: flex;
    flex-direction: column;

}
.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 5px;
   
    width: 100%;
    
}

#Form #btn{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;

    background-color: rgb(17, 36, 59);


}
#Form #btn:active{
    background-color:rgb(5, 7, 9);;
}

.form-control .error{
color: red;
font-size: 13px;
margin: 10px;

}
.form-control.success input{
    border-color: green;
}
.form-control.error input{
    border-color: rgb(255, 0, 0);
}

.success-message {
    color: green;
    display: none; /* Hidden by default */
    margin-top: 10px;
}
